In [1]:
myfile = open("days_of_week.txt", "r")
print(myfile.read())

Monday      1
Tuesday     2
Wednesday   3
Thursday    4
Friday      5
Saturday    6
Sunday      7

In [2]:
myfile = open("days_of_week.txt", "r")
print(myfile.read(21))

Monday      1
Tuesday

In [3]:
myfile = open("days_of_week.txt")
print(myfile.read())

Monday      1
Tuesday     2
Wednesday   3
Thursday    4
Friday      5
Saturday    6
Sunday      7

In [30]:
myfile

In [31]:
type(myfile)

_io.TextIOWrapper

In [5]:
myfile = open("days_of_week.txt")
for k in myfile:
    print ('Reading observations from our dataset: ' + k)

Reading observations from our dataset: Monday      1

Reading observations from our dataset: Tuesday     2

Reading observations from our dataset: Wednesday   3

Reading observations from our dataset: Thursday    4

Reading observations from our dataset: Friday      5

Reading observations from our dataset: Saturday    6

Reading observations from our dataset: Sunday      7

In [6]:
n = 3
myfile = open("days_of_week.txt")
for k, observation in enumerate(myfile):
    if k % n==0:
        print('Sampling rows: ' + str(k) + ', Retrieved data ' + observation)

Sampling rows: 0, Retrieved data Monday      1

Sampling rows: 3, Retrieved data Thursday    4

Sampling rows: 6, Retrieved data Sunday      7

In [68]:

myfile = open("days_of_week.txt", "r")
print(list(enumerate(myfile)))

[(0, 'Monday      1\n'), (1, 'Tuesday     2\n'), (2, 'Wednesday   3\n'), (3, 'Thursday    4\n'), (4, 'Friday      5\n'), (5, 'Saturday    6\n'), (6, 'Sunday      7')]

In [69]:
myfile = open("days_of_week.txt")
for k, observation in enumerate(myfile):
    print(k, observation)

0 Monday      1

1 Tuesday     2

2 Wednesday   3

3 Thursday    4

4 Friday      5

5 Saturday    6

6 Sunday      7

In [7]:
import pandas as pd
xl_file = pd.ExcelFile("trigonometric_functions.xlsx")
trig_values = xl_file.parse('Sheet1')
print(trig_values)

     Degrees     Sine  Cosine  Tangent
0          0        0       1        0
1          1   0.0175  0.9998   0.0175
2          2   0.0349  0.9994   0.0349
3          3   0.0523  0.9986   0.0524
4          4   0.0698  0.9976   0.0699
..       ...      ...     ...      ...
356      356  ‐0.0698  0.9976  ‐0.0699
357      357  ‐0.0523  0.9986  ‐0.0524
358      358  ‐0.0349  0.9994  ‐0.0349
359      359  ‐0.0175  0.9998  ‐0.0175
360      360        0       1        0

[361 rows x 4 columns]

In [11]:
import csv 
csv_file = open('example_csv.csv')
csv_reader = csv.reader(csv_file, delimiter=',')
line_count = 0
for row in csv_reader:
    if line_count == 0:
        print(f'Column names are {", ".join(row)}')
        line_count += 1
    else:
        print(f'\t{row[0]} is {row[1]} year old, and works as {row[2]}.')
        line_count += 1
print(f'Processed {line_count} lines.')

Column names are name, age, designation
	John is 50 year old, and works as Manager.
	Julia is 40 year old, and works as Assistant Manager.
	Tom is 30 year old, and works as Programmer.
	Sophia is 25 year old, and works as Accountant.
Processed 5 lines.

In [12]:
row

['Sophia', '25', 'Accountant']

In [13]:
import pandas as pd 
data1 = pd.read_csv("example_csv.csv") 
data1.head()

     name  age        designation
0    John   50            Manager
1   Julia   40  Assistant Manager
2     Tom   30         Programmer
3  Sophia   25         Accountant

In [16]:
from lxml import html
import requests

In [17]:
page = requests.get('http://econpy.pythonanywhere.com/ex/001.html')
tree = html.fromstring(page.content)

In [18]:
#This will create a list of buyers:
buyers = tree.xpath('//div[@title="buyer-name"]/text()')
#This will create a list of prices
prices = tree.xpath('//span[@class="item-price"]/text()')

In [19]:
print ('Buyers: ', buyers)
print ('Prices: ', prices)

Buyers:  ['Carson Busses', 'Earl E. Byrd', 'Patty Cakes', 'Derri Anne Connecticut', 'Moe Dess', 'Leda Doggslife', 'Dan Druff', 'Al Fresco', 'Ido Hoe', 'Howie Kisses', 'Len Lease', 'Phil Meup', 'Ira Pent', 'Ben D. Rules', 'Ave Sectomy', 'Gary Shattire', 'Bobbi Soks', 'Sheila Takya', 'Rose Tattoo', 'Moe Tell']
Prices:  ['$29.95', '$8.37', '$15.26', '$19.25', '$19.25', '$13.99', '$31.57', '$8.49', '$14.47', '$15.86', '$11.11', '$15.98', '$16.27', '$7.50', '$50.85', '$14.26', '$5.68', '$15.00', '$114.07', '$10.09']

In [20]:
from lxml import objectify
my_xml = objectify.parse('books.xml')
my_xml

In [21]:
root = my_xml.getroot()
root

In [22]:
root.book.author

'Giada De Laurentiis'

In [23]:
root.book.year

2005

In [24]:
root.getchildren()

[<Element book at 0x1e55c8231c8>,
 <Element book at 0x1e55c823148>,
 <Element book at 0x1e55c823208>,
 <Element book at 0x1e55c823248>]

In [25]:
[child.tag for child in root.book.getchildren()]

['title', 'author', 'year', 'price']

In [26]:
[child.text for child in root.book.getchildren()]

['Everyday Italian', 'Giada De Laurentiis', '2005', '30.00']