In [9]:
cmplx_no = 4 + 5j

In [11]:
a=True
type(a)   # it returns the type of a as bool.

bool

In [13]:
bool_variable = 5 < 3
bool_variable

False

In [14]:
3+5-6

2

In [15]:
20-4*8

-12

In [16]:
(20-4*8)/3

-4.0

In [17]:
10/4

2.5

In [18]:
50//8

6

In [19]:
50%8

2

In [20]:
2**5

32

In [21]:
type(4*3.4)

float

In [22]:
2+7j

(2+7j)

In [24]:
height = 10
width = 3 * 4
width * height

120

In [25]:
Height

NameError: name 'Height' is not defined

In [26]:
my_variable = 10
my_variable+=10
my_variable

20

In [27]:
my_variable1 = 10
my_variable2 = 3
my_variable1**=  my_variable2
my_variable1

1000

In [29]:
~3+1

-3

In [30]:
x = 2 
y = 5

In [31]:
x&y

0

In [32]:
x|y

7

In [33]:
~x

-3

In [34]:
x^y

7

In [35]:
y>>2

1

In [36]:
x<<2

8

In [39]:
x=True 
y=False
x and y

False

In [40]:
x=True 
y=False
x or y

True

In [41]:
x = True
not x

False

In [42]:
x = 8 
y = 3

In [43]:
x == y

False

In [44]:
x != y

True

In [45]:
x > y

True

In [46]:
x < y

False

In [47]:
x >= y

True

In [48]:
x <= y

False

In [51]:
x = 'Hello world' # x is a string of characters
print('H' in x)   # returns True if ‘H’ is in x
print('Hello' not in x) # returns True if ‘Hello’ is not present in x

True
False

In [53]:
ord("a")

97

In [54]:
ord?

In [55]:
'A string enclosed in a single quote.'

'A string enclosed in a single quote.'

In [56]:
"Another way to specify a ‘string’."

'Another way to specify a ‘string’.'

In [58]:
print( 'apple', 'and banana', 'are fruits')

apple and banana are fruits

In [59]:
print('Are n't, you said this.')

SyntaxError: invalid syntax (<ipython-input-59-868ddf679a10>, line 1)

In [60]:
print('Are n\'t, you said this.')

Are n't, you said this.

In [61]:
print('Are n\'t, \t you said this.')

Are n't, 	 you said this.

In [66]:
print('Are n\'t, \n you said this.')

Are n't,
 you said this.

In [68]:
print ('c:\new_directory')

c:
ew_directory

In [69]:
print(r'c:\new_directory')

c:\new_directory

In [70]:
str1 = 'Py'
str2 = 'thon'
str1 + str2

'Python'

In [71]:
x = "Hello world"
print(x[0])

H

In [72]:
print(x[0:5])

Hello

In [73]:
print(x[6:len(x)])

world

In [75]:
x = 'Hello world'
x[:6] + x[6:] == x

True

In [76]:
x = 'Hello world'
x[1:8:2]

'el o'

In [77]:
x = 'Hello world'
x[10:0:-2]

'drwol'

In [78]:
x = 'Hello world'
x[10::-2]

'drwolH'

In [79]:
x[::-2]

'drwolH'

In [80]:
str = '123' * 3
str

'123123123'

In [81]:
str = '123' * 3
str[: : -3]

'333'

In [82]:
str1 = "    Hello world	 "
print(str1.strip())

Hello world

In [83]:
str2 = "Hello World"
print(str2.lower())

hello world

In [84]:
str3 = "Hello World"
print(str3.upper())

HELLO WORLD

In [85]:
str4 = "I like apples"
print(str4.replace("apples", "pineapples"))

I like pineapples

In [86]:
'Hello, how are YOU doing?'.swapcase()

'hELLO, HOW ARE you DOING?'

In [87]:
str5 = 'Hello, how are YOU doing?'
print(str5.split(","))

['Hello', ' how are YOU doing?']

In [88]:
'hello'.capitalize()

'Hello'

In [89]:
'hello'.find('o')

4

In [90]:
'hello123'.isalnum()

True

In [91]:
'hello*'.isalnum()

False

In [92]:
'2034'.isdecimal()

True

In [93]:
"Python".islower()

False

In [94]:
"PYTHON".isupper()

True

In [95]:
"PYTHON".lower()

'python'

In [96]:
"python".partition('t')

('py', 't', 'hon')

In [97]:
"We learn ".replace ('learn','have learned')

'We have learned '

In [98]:
"Data Science".rfind('Sc')

5

In [99]:
"Data Science".split(" ")

['Data', 'Science']

In [100]:
# """    are used for multi-line strings. 
"""Learn Python
for Data Science""". splitlines()

['Learn Python', 'for Data Science']

In [101]:
"Data Science". startswith("D")

True

In [102]:
"      Python   ".strip()

'Python'

In [103]:
"Hello123".swapcase()

'hELLO123'

In [104]:
"python for data science".title()

'Python For Data Science'

In [105]:
"python".upper()

'PYTHON'

In [107]:
obtained_marks = 120
if(obtained_marks > 100):
    print("Invalid marks.")

Invalid marks.

In [109]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100):
   	print("Invalid marks.")

Input marks of a student
101
Invalid marks.

In [111]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks >= 80):
    print("Excellent")
else:
    print("Not excellent")

Input marks of a student
79
Not excellent

In [114]:
print('Input marks of a student')
obtained_marks = int(input())
if(obtained_marks > 100 or obtained_marks < 0):
    print("Invalid marks.")
elif(obtained_marks >= 80):
    print("Excellent")
else:
    print("Not excellent")

Input marks of a student
-2
Invalid marks.

In [115]:
switch = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
    }
switch.get(5)

'Friday'

In [116]:
fruits = ["pineapple", "orange", "banana"]
for k in fruits:
    print(k)

pineapple
orange
banana

In [117]:
for j in range(10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [118]:
for x in range(2, 10, 3):
    print(x)

2
5
8

In [119]:
fruits = ["pineapple", "orange", "banana", "melon","dates"]
for k in fruits:
    if k == "banana":
        continue
    print(k)
    if k == "melon":
        break

pineapple
orange
melon

In [120]:
numbers = [0, 1, 2, 3, 4, 5]
for i in numbers:
    print(i)
else:
    print("No items left.")

0
1
2
3
4
5
No items left.

In [125]:
# Program to add natural numbers provided by the user. 
n = int(input("Enter an integer = "))
# initialize sum to 0 and a variable k as a counter
sum = 0
k = 1
while k <= n:
    sum = sum + k
    k = k+1    # update counter
print("The sum of first", n, "natural number is=", sum)

Enter an integer = 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [126]:
properties = ["red", "round", "tasty"]
fruits = ["apple", "orange", "banana"]
for j in properties:
      for k in fruits:
            print(j, k)

red apple
red orange
red banana
round apple
round orange
round banana
tasty apple
tasty orange
tasty banana

In [127]:
def my_function1():
    print("This is my first Python function")
my_function1()

This is my first Python function

In [128]:
def my_function2(str_in):
print("This is " + str_in)

IndentationError: expected an indented block (<ipython-input-128-0ce4de5de739>, line 2)

In [129]:
def my_function2(str_in):
    print("This is " + str_in)
 
my_function2("Banana")
my_function2("Apple")
my_function2("Lemon")

This is Banana
This is Apple
This is Lemon

In [130]:
def my_function3(*fruits):
    print(fruits[2], "is the sweetest fruit.")
my_function3("Orange", "Apple", "Mango") # Giving 3 inputs.

Mango is the sweetest fruit.

In [131]:
my_function3("Orange", "Mango","Apple","dates" ) # Giving 4 inputs.

Apple is the sweetest fruit.

In [132]:
def my_function4(x):
    return 100 * x
print(my_function4(2))
print(my_function4(8))
print(my_function4(100))

200
800
10000

In [9]:
def func_factorial(integer):
    if integer ==0:
        print("The factorial of 0 is 1")
    elif integer <0:
        print("The factorial of a negative number does not exist")
    elif integer ==1: 
        return integer
    else:
        return integer*func_factorial(integer-1)

In [10]:
print(func_factorial(5))
print(func_factorial(-5))
print(func_factorial(0))

120
The factorial of a negative number does not exist
None
The factorial of 0 is 1
None

In [11]:
x = lambda arg : arg - 5
print(x(10))
print(x(20))
print(x(30))

5
15
25

In [12]:
def my_lambda_func(n):
    return lambda arg : arg * n

In [16]:
mytripler = my_lambda_func(3)
print(mytripler(2))
print(mytripler('A'))
print(mytripler(100))

6
AAA
300

In [19]:
fruitlist = ["apple", "orange", "banana", "melon"]
print(fruitlist)

['apple', 'orange', 'banana', 'melon']

In [20]:
print(fruitlist[1])

orange

In [21]:
fruitlist = ["apple", "orange", "banana", "melon"]
print(fruitlist[-2])

banana

In [23]:
print(fruitlist[2:4])    # Elements at index 2 and 3 but not 4 are accessed.

['banana', 'melon']

In [24]:
print(fruitlist[:3])     # returns list elements from the start to "banana"
print(fruitlist[2:])     # returns elements from "banana" to last element
print(fruitlist[-3:-1])  # returns elements from index -3 to -1

['apple', 'orange', 'banana']
['banana', 'melon']
['orange', 'banana']

In [25]:
fruitlist[1] = "dates"
print(fruitlist)

['apple', 'dates', 'banana', 'melon']

In [31]:
if "apple" in fruitlist:
    print("apple is present in the list")

apple is present in the list

In [37]:
fruitlist =  ["apple", "orange", "banana", "melon"]

In [38]:
fruitlist.append('watermelon') 
fruitlist

['apple', 'orange', 'banana', 'melon', 'watermelon']

In [39]:
fruitlist.insert(1, 'cherry')

['apple', 'cherry', 'orange', 'banana', 'melon', 'watermelon']

In [42]:
fruitlist.remove("banana")
print(fruitlist)

['apple', 'cherry', 'orange', 'melon', 'watermelon']

In [43]:
fruitlist.clear()
print(fruitlist)

[]

In [5]:
CM = [[5 for _ in range(10)]] 
CM

[[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]]

In [7]:
_?

In [11]:
[0 for i in range(16)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]